version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "server"
    commit-message:
      prefix: "chore"
    groups:
      grpc:
        patterns:
          - "io.grpc:*"
    schedule:
      interval: "weekly"
      day: "sunday"
  - package-ecosystem: "maven"
    directory: "java/maven"
    commit-message:
      prefix: "chore"
    schedule:
      interval: "weekly"
      day: "sunday"
